.button {
    /* margin-top: 10px; */
    background-color: #158bc2; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 3px 3px 5px darkgray;
  }

.button:active {
    box-shadow: 0px 0px 5px darkgray;
  }
