
.main {
    /* display: flex; */
    /* align-content: center;
    width: 90%; */
    margin: auto;
    max-width: 1440px;
}

.heading {
    font-size: 3vw;
    width: 90%;
    height: 8vw;
    text-align: left;
}

@media screen and (min-width: 900px) {
    .heading {
        font-size: 2em;
        height: 90px;
    }
}